{% extends 'layout.twig' %}

{% block title %}Notre Équipe{% endblock %}

{% block content %}
    <h1>Notre Équipe</h1>
    
    <div class="team">
        <!-- Carte de profil 1 -->
        <div class="profile-card">
            <div class="bannerTeo"></div>
            <div class="profile-pic">
                <img src="/img/Teo.jpg" alt="Photo de Téo Debay">
            </div>
            <div class="info">
                <h2>Téo Debay</h2>
                <p>Développeur FullStack AI</p>
            </div>
        </div>

        <!-- Carte de profil 2 -->
        <div class="profile-card">
            <div class="bannerMartin"></div>
            <div class="profile-pic">
                <img src="/img/Martin.jpg" alt="Photo de Martin">
            </div>
            <div class="info">
                <h2>Martin Beaucheron</h2>
                <p>Développeur FullStack AI</p>
            </div>
        </div>

        <!-- Carte de profil 3 -->
        <div class="profile-card">
            <div class="bannerMathiss"></div>
            <div class="profile-pic">
                <img src="/img/Mathiss.jpg" alt="Photo de Mathiss">
            </div>
            <div class="info">
                <h2>Mathiss Bouchez</h2>
                <p>Ingénieur Systèmes Réseaux</p>
            </div>
        </div>

        <!-- Carte de profil 4 -->
        <div class="profile-card">
            <div class="bannerAlexandre"></div>
            <div class="profile-pic">
                <img src="/img/Alexandre.jpg" alt="Photo de Alexandre">
            </div>
            <div class="info">
                <h2>Alexandre Flament</h2>
                <p>Développeur Marketing Digital</p>
            </div>
        </div>
    </div>
{% endblock %}
